#logo {
    fill: blue;
    transform: fill .2s;
    transition-property: fill;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-block-color: blue;
}

.dropdown-full{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  padding-left: 18px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: blue;
    padding: 16px;
    font-size: 16px;
    border: black;
    transform: all 200ms;
    
    
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    color: blue;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #acacac;}

 body{
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  margin-block-start: 0;
  letter-spacing: 1px;

 }
 
 header{
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 50px;
   line-height: 50px;
   background-color: #eeeeee;

 }

 #main {
   margin: 80px;
 }

 .row-fluid{
   width: 100%;
   padding-right: 40px;
   padding-left: 40px;
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   padding-left: 18px;
 }

 .hero-50-main{
  padding: 90px, 0px, 0px;
 }

 .wrapper{
  margin-left: auto !important;
  margin-left: auto;
  padding-left: 15px;
  width: 100% !important;
  max-width: 1900px;
  padding-right: 15px;
  float:none;
  box-sizing: border-box;
 }

.hero-50-outer{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.hero-50-right{
  padding-left: 10px;
  border-top-right-radius: 5px;
  padding-right: 10px;
  text-align: center;
}

.hero-50-left{
  padding-left: 40px;
  padding-right: 40px;
  }

.hero-50-inner{
  text-align: center;
  max-width: 100%;
  width: 100%;
  position: relative;

}

.Aug2020
{
  

}
 

 

  